<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>HiesenBurger</h1>
<br>
<br>
<br>
<tr  th:each="product : ${products}">
    <td th:text="${product.getId}">error id</td>
    <td th:text="${product.getName}">error name</td>
    <td th:text="${product.getPrice}">error price</td>
    <img src="${product.getImgName}" alt="error path_to_image">
    </br>
</tr>

<img th:src="@{1053796058.jpg}" alt="error path_to_image">




</body>
</html>